.chart-comment-mode {
    cursor: url(../images/add-comment-icon.svg), auto;
}

.hidden-input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: nowrap;
}
